.container {
  position: relative;
}

.container svg {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.container input {
  background: #f4f4f4;
  border: none;
  border-radius: 12px;
  margin: 3rem 0;
  outline: none;
  padding: 1rem;
  width: calc(100% - 2rem);
}
