.container {
  position: relative;
}

.container::before {
  content: "";
  background: url("../../assets/img/icon-arrow-down.svg") center no-repeat;
  position: absolute;
  top: 50%;
  right: 3px;
  height: 10px;
  width: 10px;
  transition: all 0.5s;
  transform: translateY(-50%);
}

.selector_typo:focus .container::before {
  transform: rotate(180deg);
}

.selector_typo {
  border: none;
  appearance: none;
  padding: 0.5rem 1rem;
  width: 130px;
}

.selector_typo:active,
.selector_typo:focus {
  border: none;
  outline: none;
}

.selector_typo > option:nth-child(1) {
  font-family: "Lora", serif;
}

.selector_typo > option:nth-child(2) {
  font-family: "Inter", sans-serif;
}

.selector_typo > option:nth-child(3) {
  font-family: "Inconsolata", monospace;
}
