@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,700&display=swap");

body {
  margin: 2.5rem 20rem;
  transition: all 0.25s ease-in-out;
}

.body_dark {
  background: #050505;
  color: white;
}

.body_dark select {
  color: white;
}

.body_dark select option {
  background: #050505;
  color: white;
}

.body_dark input[type="text"] {
  background: #1f1f1f;
  color: white;
}

.body_dark hr {
  background-image: linear-gradient(to right, #333, #ccc, #333);
}

.body_dark a {
  color: white;
}

@media screen and (max-width: 960px) {
  body {
    margin: 2.5rem 2.5rem;
  }
}
